<a href="https://colab.research.google.com/github/PRANAV051105/SRM/blob/main/Experiment%3A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x= int(input("enter a number"))
y= int(input("enter a number"))
sum = x+y
print("sum of the two numbers:",sum)

enter a number12
enter a number18
sum of the two numbers: 30

In [2]:
a= int(input("Enter a number"))
if a%2==0:
  print(" number is even")
else:
  print(" number is odd")

Enter a number4
 number is even

In [21]:
a=int(input("enter the number"))
b=0
for i in range(2,a):
      if  a%i==0:
          b+=1
          break
if (b==0):
    print("Prime number")
else:
    print("Not a prime number")

enter the number12
Not a prime number

In [43]:
a=int (input("Enter a number"))
b=int (input("Enter a number"))
c=int (input("Enter a number"))
d=int (input("Enter a number"))
l=[a,b,c,d]
print(max(l))

Enter a number1
Enter a number12
Enter a number7
Enter a number19
19

In [51]:
a=int(input("enter a number"))
b=1
for i in range (1,a+1):
         b*=i
print(b)

enter a number5
120

In [53]:
a=int(input("enter a number"))
b=str(a)
c=b[::-1]
print(int(c))

enter a number1234
4321

In [57]:
a=input("enter a sequence")
b=a[::-1]
if b==a:
    print("palindrome")
else:
    print("not palindrome")

enter a sequenceRACECAR
palindrome

In [65]:
a=int(input("ENTER A NUMBER"))
q=0
b=str(a)
for i in range (len(b)):
 c=0
 c=a%10
 a=a//10
 q+=c
print(q)

ENTER A NUMBER56
11

In [70]:
a=int(input("table value"))
b=int(input("enter no.of.multi"))
for i in range(1,b+1):
   print(a,"*",i,"=",a+i)

table value10
enter no.of.multi2
10 * 1 = 11
10 * 2 = 12

In [77]:
a=int(input("enter a number"))
b=int(input("enter a number"))
d=input("enter a symbol")
match(d):
  case "+":
    print(a+b)
  case "-":
    print(a-b)
  case "*":
    print(a*b)
  case "/":
    print(a/b)

enter a number12
enter a number23
enter a symbol+
35

In [82]:
for i in range(6):
 print(i* "*")
 print("\n")

*


**


***


****


*****